@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 55 65 81;
}

.dark {
  --background: 55 65 81;
  --foreground: 229 231 235;
}

body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}
